@model TP2.Models.Person
@using (Html.BeginForm("Form", "Person", FormMethod.Post))
{
    <label>First Name</label>
    @Html.TextBoxFor(m=>m.first_name)
    ;
    <br />
    <label>Country</label>
    @Html.TextBoxFor(m=>m.country)
    ;
    <br />
    <input type="submit" class="btn btn-primary" value="Search" />
}